* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {  
  width: 500px;
  background-color: rgb(13, 13, 36);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.theme {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.icon-dart {
  color: #fff;
  font-size: 24px;
}

.title {
  color: rgb(222, 127, 19);
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}

.input-search {
  height: 40px;
  width: 200px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
  caret-color: #fff;
  color: #fff;
  font-size: 15px;
}

.btn-add {
  height: 40px;
  width: 90px;
  background-color: rgb(31, 156, 198);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.content {
  width: 400px;
  list-style: none;
  border: solid 2px #fff;
  margin-top: 30px;
  border-radius: 7px;
}

.item {
  display: flex;
  color: #fff;
  padding: 10px 0;
  margin: 0 20px;
  align-items: center;
}

.item + .item {
  border-top: 1px solid #fff;
}

.text {
  margin-left: 5px;
  font-size: 14px;
  flex: 1;
  text-align: start;
}

.delete {
  margin-right: 7px;
}

.delete,
.edit {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-delete {
  margin-top: 50px;
  width: 110px;
  height: 40px;
  margin-bottom: 100px;
  border: none;
  color: rgb(180, 34, 34);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}